In [1]:
import pandas as pd
import os

In [2]:
vine_df = pd.read_csv(r'vine.csv')

In [3]:
vine_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3093864,RZ3LLAKIZQ3RR,5.0,0.0,0.0,N,N
3093865,R1V8GVI67B7V0K,5.0,0.0,0.0,N,N
3093866,R3BDESK5VUNK8C,5.0,5.0,5.0,N,N
3093867,R1JJGM0JWVT7DV,5.0,3.0,3.0,N,N
3093868,R30PZG0PCGR2V0,1.0,7.0,9.0,N,N

In [4]:
# sorting df to make sure I have values greater than 20. 
vine_df.sort_values(by='total_votes', ascending=False)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1983028,R2H5U4H5NGGAR0,3.0,12786.0,12944.0,N,N
2677787,R3I8VKTCITJCX6,1.0,8937.0,9072.0,N,N
2449482,R31D05IE78MJSI,5.0,8421.0,8680.0,N,Y
2702434,R1HPACVRRXUOOI,5.0,6012.0,6353.0,N,N
2907596,R273H6FER3R5L3,1.0,5417.0,5546.0,N,N
...,...,...,...,...,...,...
235469,R2E0PD6RZVM5KI,NaN,NaN,NaN,NaN,NaN
582794,R106BQEX2H8R54,NaN,NaN,NaN,NaN,NaN
586509,R7W0VRHCE5Q6U,NaN,NaN,NaN,NaN,NaN
1165178,R1AJ40FI2EV2B,NaN,NaN,NaN,NaN,NaN
2648708,R3ND1GG5LHQTG8,NaN,NaN,NaN,NaN,NaN

In [5]:
# Retrieve all rows where the total_votes count is equal >=20 

total_votes = vine_df.loc[vine_df['total_votes'] >= 20]
total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [6]:
# Retrieve all the rows where the number of helpful_votes divided by total_votes is >= 50% 

df= pd.DataFrame(total_votes)
df["result"] = df["helpful_votes"]/df["total_votes"] * 100
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y,82.608696
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y,100.000000
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y,100.000000
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y,79.245283
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y,100.000000
...,...,...,...,...,...,...,...
3093833,R31POKKHZJR1J4,1.0,14.0,20.0,N,N,70.000000
3093836,R1OW3E5V6HIYLS,1.0,11.0,25.0,N,N,44.000000
3093840,R3J9P4PR6DO9GG,2.0,57.0,61.0,N,N,93.442623
3093855,R1I08KZLK0QW0Z,1.0,8.0,29.0,N,N,27.586207
3093858,R1V3AL4M2F1N38,5.0,62.0,64.0,N,N,96.875000

In [7]:
helpful_votes = df.loc[df['result'] >= 50]
helpful_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y,82.608696
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y,100.000000
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y,100.000000
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y,79.245283
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y,100.000000
...,...,...,...,...,...,...,...
3093818,R3W0YWD1IOO939,2.0,163.0,172.0,N,N,94.767442
3093823,R2LRFNGMSLKT6Z,5.0,22.0,23.0,N,N,95.652174
3093833,R31POKKHZJR1J4,1.0,14.0,20.0,N,N,70.000000
3093840,R3J9P4PR6DO9GG,2.0,57.0,61.0,N,N,93.442623
3093858,R1V3AL4M2F1N38,5.0,62.0,64.0,N,N,96.875000

# PAID REVIEWS

In [8]:
# Retrieves all the rows where a review was written as part of the Vine Program, vine == 'Y'.
vine_programy = helpful_votes.loc[helpful_votes['vine'] == 'Y']
vine_programy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
1932,R184FOUNZZ7KO8,5.0,15.0,20.0,Y,N,75.000000
4661,R82QWN2X2OCHB,5.0,176.0,208.0,Y,N,84.615385
11745,R1UYHBYE6790BU,5.0,44.0,53.0,Y,N,83.018868
17013,R2J3YLX1L4EH2B,5.0,299.0,321.0,Y,N,93.146417
28097,R3QDI539WTXKE2,5.0,26.0,32.0,Y,N,81.250000
...,...,...,...,...,...,...,...
2931416,R2JB1KZ45QF7PF,4.0,28.0,35.0,Y,N,80.000000
2931950,RFVYZ18INT4TC,5.0,37.0,40.0,Y,N,92.500000
2955111,R2DM0868A3J7GK,4.0,41.0,47.0,Y,N,87.234043
2955295,R3BJ8VBZ0FVAH9,4.0,21.0,24.0,Y,N,87.500000
2959024,R3PZCB4HLG1VM3,5.0,19.0,21.0,Y,N,90.476190

In [9]:
total_paid_reviews = vine_programy.count()
total_paid_reviews

review_id            1080
star_rating          1080
helpful_votes        1080
total_votes          1080
vine                 1080
verified_purchase    1080
result               1080
dtype: int64

In [12]:
five_star_paid = vine_programy.loc[vine_programy['star_rating'] == 5]
five_star_paid_count = five_star_paid.count()

In [13]:
percentage_of_5_star_paid = five_star_paid_count/total_paid_reviews * 100
percentage_of_5_star_paid

review_id            42.037037
star_rating          42.037037
helpful_votes        42.037037
total_votes          42.037037
vine                 42.037037
verified_purchase    42.037037
result               42.037037
dtype: float64

# UNPAID REVIEWS

In [14]:
# Retrieves all the rows where a review was not written as part of the Vine Program, vine == 'N'.
vine_programn = helpful_votes.loc[helpful_votes['vine'] == 'N']
vine_programn

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y,82.608696
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y,100.000000
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y,100.000000
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y,79.245283
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y,100.000000
...,...,...,...,...,...,...,...
3093818,R3W0YWD1IOO939,2.0,163.0,172.0,N,N,94.767442
3093823,R2LRFNGMSLKT6Z,5.0,22.0,23.0,N,N,95.652174
3093833,R31POKKHZJR1J4,1.0,14.0,20.0,N,N,70.000000
3093840,R3J9P4PR6DO9GG,2.0,57.0,61.0,N,N,93.442623
3093858,R1V3AL4M2F1N38,5.0,62.0,64.0,N,N,96.875000

In [15]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for 
# the two types of review
total_unpaid_reviews = vine_programn.count()
total_unpaid_reviews

review_id            49673
star_rating          49673
helpful_votes        49673
total_votes          49673
vine                 49673
verified_purchase    49673
result               49673
dtype: int64

In [16]:
five_star_unpaid = vine_programn.loc[vine_programn['star_rating'] == 5]
five_star_unpaid_count = five_star_paid.count()

In [17]:
percentage_of_5_star_unpaid = five_star_unpaid_count/total_unpaid_reviews * 100
percentage_of_5_star_unpaid

review_id            0.913977
star_rating          0.913977
helpful_votes        0.913977
total_votes          0.913977
vine                 0.913977
verified_purchase    0.913977
result               0.913977
dtype: float64